body{
	background-size: cover;
    background-attachment: fixed;
    background-color: #dbdac0;

}	

.tabell{
	width: 80%;
	font-size: 1vw ; 
		font-family:'Raleway', sans-serif;
		align-content: center; 
		align-items: center; 
		text-align: center;
}

h1{
	font-size: 5vw; 
	margin-top: 5%;
	font-family:'Raleway', sans-serif;
}

text{
	font-family:'Raleway', sans-serif;	
}