body{
	background-size: cover;
    background-attachment: fixed;
    background-color: #dbdac0;

}	


h1{
	font-size: 5vw; 
	margin-top: 5%;
	font-family:'Raleway', sans-serif;
}

#tombol{
	font-size: 1vw;
	font-family:'Raleway', sans-serif;
}