{% load static %}

	<!DOCTYPE html>
	<html>
	    
	<head>
	    <title>story 10 lula</title>
	    <meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
	    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
	    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
	    <link rel="stylesheet" type="text/css" href="{% static 'css/style10.css' %}">
	    <script src="{% static 'js/js10.js' %}"></script>
	</head>

	<body>
		<center>
			<h1>Registrasi</h1>
			<section name="form">
		        <br>
		        <br>
		        <div class="row">
		            <div class= col-5></div>
		            <div class= col-2>
		                <form id="regis" method="POST">
		                    {% csrf_token %}
		                    {{forms}}
		                    <br>
		                    <br>
		                    <button type="submit" class="btn btn-default" id="tombol" disabled type="submit" style="background-color: darkgrey">Submit</button>
		                </form>
		            </div>
		            
		        </div>    
		    </section>
		</center>
	</body>
	</html>