{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>thalia talula</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
	<section name="form">
        {% block content %} {% include 'myNavbar.html' %} {% endblock %}
        <h1 id=halo style="font-size: 3vw; text-align: center;"><strong>Hello, Apa kabar?</strong></h1>
        <br>
        <br>
        <div class="row">
            <div class= col-sm-6>
                <form id="formStatus" method="post" action="{% url 'statusPost' %}" style="font-size: 2vw;">
                    <br>
                    {% csrf_token %}
                    {{form}}
                    <br>
                    <button id="submit" class="btn btn-default" style="font-size: 1vw;">Submit</button>
                </form>
            </div>
            <div class= col-sm-6>
                <br><br><br>
                <table border="2" style="font-size: 2vw;">
                    <th><center>Status</center></th>
                    {% for i in model %}
                    <tr border="2">
                        <td><center>{{i.isiStatus}}</center></td>
                    </tr>
                    {% endfor %}
                </table>
            </div>

            <div class= col-sm-6>
            </div>
        </div>    
    </section>
</body>

</html>