{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Story 8</title>
	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  	<link rel="stylesheet" type="text/css" href="{% static 'css/style8.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  	<script src="{% static 'js/js8.js' %}"></script>

  	<script src="jquery-3.3.1.js" type="text/javascript"></script>
</head>


<body>
	<div class='progress' id="progress_div">
	    <div class='bar' id='bar1'></div>
	    <div class='percent' id='percent1'></div>
  	</div>

	<center>
		<div id="accordion">
		  	<h3><strong>Aktivitas</strong></h3>
		  	<div>
			    <p>
			    Halo teman teman, berikut adalah aktivitas saya hari ini:
			    <ul>
			      	8.00 - 8.50		: fisika dasar<br>
			      	13.00 - 14.40	: lab PPW<br>
			      	16.00 - 16.50	: administrasi bisnis<br>
			      	17.00 - 19.40	: lab SDA
			    </ul>
			    </p>
		  	</div>

		  	<h3><strong>Pengalaman Organisasi/Kepanitiaan</strong></h3>
		  	<div>
			    <p>
			    Berikut adalah pengalaman kepanitiaan yang pernah saya ikuti di semester 3:
			    </p>
			    <ul>
			      	<li>DNCE - Compfest X</li>
			      	<li>LO - Open House Fasilkom</li>
			      	<li>Insha Allah Sekretaris dan Bendahara - CS League 2019</li>
			    </ul>
		  	</div>

		  	<h3><strong>Prestasi</strong></h3>
		 	<div>
			    <p>
			    Prestasi yang pernah capai adalah mendapatkan juara 1 pada suatu lomba tari saman saat
			    saya sma. hehehe. kalo prestasi akademis sepertinya belum ada hehehe.
			    </p>
		  	</div>
		</div>
		
		<br>
		<br>
		
		<label class="switch">
			<input type="checkbox">
			<span class="slider round" id="tombol">
			</span>
			<br>
			<br>
		</label>
		<p style="font-size: 1.2vw"><strong>Ubah Tema</strong></p>
	</center>

	<input type="hidden" id="progress_width" value="0">
</body>
</html>